//-
    Author: Rob Thomas 
    Created: Nov 12, 2018 
    Module: William Special Group - User Login 
    
    Description: This module similar to the registration module 
    will authenticate the user checking their username 
    and password against the database. 
    // 
extends ../layout 
block content
    title=title
    h1 Member Login 
    section.register-user
    form(method="post")
        fieldset.form-container
            legend Enter Your Login Information:
            
            label(for='UserName')  Username:
            input(id='username', type='text', name='userName', value='rob')
            br
            label(for='Password')  Password: 
            input(id='password', type='password', name='password', value='password')
            br
            button(id='login-btn', type='submit') Login 


      