{{#if error }}
    <section class='alert alert-error'>{{error}}</section> 
{{/if}}

<section class="login-user">
    <h1>Login </h1>
    <form action="/login" method='POST'>
        <section class="form-container">
        <hr>
    
        <label for="email">Email </label>
        <input type="email"  name='email' id='email' required> 

        <label for="password">Password </label>
        <input type="password"  name='password' id='password' required> 

        <button type='submit' id='login-btn'>Login</button>
    
        </section>
    </form>
</section>
  