//-
    Author: Rob Thomas 
    Created: Nov 12, 2018 
    Module: William Special Group - User Login 
    
    Description: This module similar to the registration module 
    will authenticate the user checking their username 
    and password against the database. 
    // 
extends ../layout 
block content
    title=title
    h1 Member Login 
    section.login-user
    if errors 
        section(id='alert')=errors
    form(method="post")
        fieldset.form-container
            legend Enter Your Login Information:
            section(id='demo')
            label(for='UserName')  Username:
            input(id='userName', type='text', name='userName', value='email@email.com', required)
            br
            label(for='Password')  Password: 
            input(id='password', type='password', name='password', value='password', required)
            br
            span(id="errors")
            button(id='login-btn', type='submit') Login 


      