<section class="register-user">
    <h1>New Member Registration Form</h1>
    <form action="/register/new" method='POST'>
        <section class="form-container">
        <hr>
        <label for="firstName">First Name </label>
        <input type="text"  name='firstName' id='firstName' required> 

        <label for="lastName">Last Name </label>
        <input type="text"  name='lastName'id='lastName' required> 

        <label for="email">Email </label>
        <input type="email"  name='email' id='email' required> 

        <label for="password">Password </label>
        <input type="password"  name='password' id='password' required> 

        <button type='submit' id='register-btn'>Register</button>
    
        </section>
    </form>
</section>
  