<div class="card">
  <div class="card-header">
    Quote
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Life was always a matter of waiting for the right moment to act.</p>
      <footer class="blockquote-footer">Paulo Coelho <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
  </div>
</div>