<h1>About us </h1>

<section class='about-container'>
    <section class='about'>

        <p>
            Welcome to Williams Specialty Company (WSC), your number one source for all things printing and engraving.
            We're dedicated to giving you the very best service, with a focus on customer service, dependability, and
            expediency.
        </p>
        <p>Founded in 2018, WSC has come a long way from its beginnings in a home garage.</p>
        <p>When WSC first started out, their passion for providing the best printing and engraving products drove them
            to develop their business model and expand into the global market, and gave him the impetus to turn hard
            work and inspiration into to a booming online store. We now serve customers all over the world, and are
            thrilled to be a part of the trending wing of the printing and engraving industry.</p>
        <p>We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or
            comments, please don't hesitate to contact us.</p>
    </section>

    <section>

        Sincerely,
        Williams Specialty Company

    </section>
</section>
<br>
<br>
<section class='note'>This is a Node, Express Application for Williams Speciality Company
Version 1.0.0</section>