//- 
  The is the html page that allow us to user the layout 
  format to inject html base template into our new pages 
  that contain the some block of code. Jade allow us to 
  reuse the code written in the base module. 
 // 


extends layout 
block content
    title=title
    h1 About Us 