//- 
  Author: Rob Thomas 
  Created: Nov 14, 2018 
  Module: William Special Group - About Us

  Description:  This module shows the information 
  about the company. 
   
  //

extends layout 
block content
    title=title
    h1 About Us 