//- 
  Author: Rob Thomas 
  Created: Nov 26, 2018 
  Module: William Special Group - Customer Profile 

  Description:  This module contains the items added to
                the shopping cart.
   
  //
extends layout 
block content
    title=title
    h1 Your Shopping Cart
    - var items={}
   
    if !items.name
        h1 No Items added to your shopping cart! 
    else if items.name
        table(border='1')
            thead
                tr
                    th #
                    th Code
                    th Name
                    th Description
            tbody
                each item, i in items
                    tr
                        td= i+1
                        td= item.name

