//- 
  Author: Rob Thomas 
  Created: Nov 12, 2018 
  Module: William Special Group - Home Page

  Git Version Control is used for version tracking
  Github: https://github.com/hattricklogic/wsc_website
  
  Description: This is the home page of our site. 
  this module contains the main page, upper most part of the site 
  desgin. Users can login, broswer or register from this module.
  //-
extends layout
block content
    title = title
    section.left-content
      aside.banner
        h1 New WSC APP
        p
          | Williams Specialty Company (WSC) is a small print and engraving organization.
          br
          |           Request a quote,  Browse our Product List or Login for Membershps and Discouts.
          br
          |           Requesting a printing or engraving job is easy.
        button.info-btn  Learn more 
