//- 
  Author: Rob Thomas 
  Created: Nov 12, 2018 
  Module: William Special Group - Home Page

  Git Version Control is used for version tracking
  Github: https://github.com/hattricklogic/wsc_website
  
  Description: This is the home page of our site. 
  this module contains the main page, upper most part of the site 
  desgin. Users can login, broswer or register from this module.
  //-
extends layout
block content
    title = title
    section.left-content
      aside.banner
        h1(id='h1') Welcome to Williams Specialty Company
        p
          | Williams Specialty Company (WSC) is a small print and engraving organization.
          br
          br
          |           Request a quote, #[a(href='/products') Browse our Product List] or  #[a(href='/login') Login] for Membershps and Discouts.
          br
          br
          |           Requesting a printing or engraving jobs are easy. #[a(href='/register') Try us!]
