<h1>{{title}}</h1>
 <section class="jumbotron jumbotron-welcome">
 <h1 class='h1'>Williams Specialty Print and Engraving!</h1>
 </section> 
 
 <section class='divider first jumbotron jumbotron-welcome '>
     What do we do? 
 </section>
     <section class='sweater'></section>
     <div class='divider'> Custom Sweaters </div>

     <section class='tshirt'></section>
     <div class='divider'> Customizable T-Shirt</div>

     <section class='trophy'></section>
     <div class='divider'>Winner's Trophy's </div>

     <section class='plaque'></section>
     <div class='divider'>Recognition, Awards & more... </div>