{{#each orders}}

        <table>
            <th>Product</th>
            <th>Price</th>
            <tr>
                <td>{{product}}</td>
                <td>{{price}}</td>
            </tr>
        </table>
      
{{else}}
 <h1>No Orders have been placed!</h1>
{{/each}}
