//- 
  Author: Rob Thomas 
  Created: Nov 17, 2018 
  Module: William Special Group - Home Page

  
  Description: This module display all the different 
  services Williams specialty group offers. 
   
  //  
extends layout 
block content
    title=title
    h1 All Services