//- 
  Author: Rob Thomas 
  Created: Nov 17, 2018 
  Module: William Special Group - Home Page
  
  Description: All the products will be diplayed here. 
  The products will be collect from the database and
  written out to the products page. 
   
  // 


extends ../layout 
block content
    title=title
    h1 All Products 