html{
    /* background-color: #42a5f5;  */
    background: #fff;
  }
  
.banner h1 {
    padding-top: 3.5%;
    color: white; 
  }
.left-content{
    width: 75%; 
  }
  
.left-content aside{
    text-align: center;
  }
   /* other colors #0077c2 Dark blue */
.banner{
    background: #80d6ff;
    height: auto;
    margin: 6% -16% 5% 11%;
    border-radius: 11px; 
    font-size: 32px; 
  }
  
.banner p{
    font-size: 20px;
    font-family: cursive;
    margin: 30px  0 60px 0;
    text-align:initial;
    width: 81%; 
    position: relative;
    left: 10%;
    
  }
.info-btn{
    height: 50px;
    width: 120px;
    border-radius: 11px;
    border-color: #42a5f5;
    background: #42a5f5;
    color: white;
    position: relative;
    right: -42%;
    top: -10px;
    font-size: large;
    box-shadow: 3px 3px 3px black; 
  }
#top-nav {
    background: #0077c2;
    height: 80px; 
    text-align: center;
  }
  
#top-nav ul {
    display: inline-flex;
    width: 50%;
  
  }
  
#top-nav ul li {
    display: inline-flex; 
    list-style-type: none;
    margin-right: 5%;
    
  }
  
a {
   color: white;
   font-size: 20px;
  }

label {
    font-size: 22px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    /* color: white;  */
    margin: 1% 1% 3% -5%;
    display: inline-block;
    /* float: left; */
    /* clear: left; */
    width: 250px;
    text-align: right;
  }
legend{
    margin-bottom: 3%; 
    font-size: 22px;
  }
 
  input[type=text], input[type=password], 
  input[type=number],  input[type=email], input[type=tel], select {
      height: 36px;
      width: 25%;
      border-radius: 5px;
      margin: 0 0 1% 0; 
      display: inline-block;
      /* float: left; */
  }
  #product-info input{
    height: 50px;
    width: 120px;
    border-radius: 11px;
    border-color: #155724;
    background: #c3e6cb;
    color: #155724;
    font-size: large;
    box-shadow: 3px 3px 7px black;
    margin: 5% 0 3% 0;
  }
  button[type=submit]{
    height: 50px;
    width: 120px;
    border-radius: 11px;
    border-color: #155724;
    background: #c3e6cb;
    color: #155724;
    font-size: large;
    box-shadow: 3px 3px 7px black;
    margin: 0 0 0 61%;
  }

#alert{
    width: 100%; 
    background: lightcoral; 
    border-radius: 6px;
    color: white; 
    font-size: 20px;
    padding: 22px 0 22px 0;
    text-align: center;
  }
section#products{
  text-align: center 
}

#products img {
    width: 200px; 
    height: 200px;
    margin: 5% 0 0 0;
    border-radius: 5px; 
    /* box-shadow: 5px 5px 5px; */
    text-align: center;
  }
#products{
    list-style: none;
  }
#product-section{
  width: 20%; 
  /* border: 1px solid; */
  float: left;
}
#product-info {
    height: 66px;
    /* border: 2px #0077c2 inset; */
    margin: 7px 7px 50px 1px;
    text-align: center;
    /* box-shadow: 5px 5px 5px; */
}
  
  