html{
    /* background-color: #42a5f5;  */
    background: #fff;
  }

#logo img{
  width: 190px;
  height: 164px; 
  float: left; 
}
  
.banner h1, p {
    padding-top: 3.5%;
    color: white; 
}

.banner p {
    padding-top: 3.5%;
    color: white; 
  }
.left-content{
    width: 75%; 
  }
  
.left-content aside{
    text-align: center;
  }
   /* other colors #0077c2 Dark blue */
.banner{
    background: #80d6ff;
    height: auto;
    margin: 4% -3% 9% 28%;
    border-radius: 11px; 
    font-size: 32px; 
  }
  
.banner p{
    font-size: 20px;
    font-family: cursive;
    margin: 30px  0 60px 0;
    text-align:initial;
    width: 81%; 
    position: relative;
    left: 10%;
    padding: 0 0 45px 0;
    
  }

#top-nav {
    height: 80px; 
    text-align: center;
    margin: 0px 0px 0 17px;
  }
  
#top-nav ul {
    display: inline-flex;
    width: 80%;
  
  }
  
#top-nav ul li {
    display: inline-flex; 
    list-style-type: none;
    margin-right: 5%;
    
  }
.cart img {
  width: 50px;
  height: 50px;
  float: right;
  position: relative;
  top: -56px;
}
  
a {
   font-size: 20px;
  }
#h1{
  font-size: 32px;
}
label {
    font-size: 22px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    margin: 1% 1% 3% -5%;
    display: inline-block;
    width: 250px;
    text-align: right;
  }
legend{
    margin-bottom: 3%; 
    font-size: 22px;
  }
 
  input[type=text], input[type=password], 
  input[type=number],  input[type=email], input[type=tel], select {
      height: 36px;
      width: 25%;
      border-radius: 5px;
      margin: 0 0 1% 0; 
      display: inline-block;
  }
  .productBtn{
    height: 50px;
    width: 120px;
    border-radius: 11px;
    border-color: #155724;
    background: #c3e6cb;
    color: #155724;
    font-size: large;
    box-shadow: 3px 3px 7px black;
    margin: 5% 0 3% 0;
  }
  button[type=submit]{
    height: 50px;
    width: 120px;
    border-radius: 11px;
    border-color: #155724;
    background: #c3e6cb;
    color: #155724;
    font-size: large;
    box-shadow: 3px 3px 7px black;
    margin: 0 0 0 61%;
  }
  

#alert{
    width: 100%; 
    background: lightcoral; 
    border-radius: 6px;
    color: white; 
    font-size: 20px;
    padding: 22px 0 22px 0;
    text-align: center;
  }
.products{
  text-align: center 
}

.products img {
    width: 200px; 
    height: 200px;
    margin: 5% 0 0 0;
    border-radius: 5px; 
    text-align: center;
  }
.products, .nav-auth{
    list-style: none;
  }

.nav-auth{
  display: inline-block;
}
.product-items li{
  width: 20%; 
  float: left;
}
#product-info {
    height: 66px;
    margin: 7px 7px 50px 1px;
    text-align: center;
}

.sweater {
  /* The image used */
  background-image: url("/imgs/Sweatshirts/Sweater_Black.jpg");
}
.plaque {
  /* The image used */
  background-image: url("/imgs/Plaque/Plaque.jpg");
}

.tshirt {
  /* The image used */
  background-image: url("/imgs/T_shirts/Tshirt_Red.jpg");
}

.trophy {
  /* The image used */
  background-image: url("/imgs/Trophy/Soccer_F.jpg");
}
.plaque, .tshirt, .sweater, .trophy{
  background-size: 100px 100px;
  /* Set a specific height */
  min-height: 800px; 
  min-width: 300px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.divider{
  height:500px;
  font-size:36px;
  /* transform: rotate(3deg); */
  text-align:center;
  background-image:url('/imgs/logo/wsc_logo_small.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 500px;
  margin-top: 3%;
  background-color: wheat;
}

.divider.first{
  transform: rotate(0deg);
  margin-top: 20%;
  font-size: 72px; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

  
  