<h1>New Order </h1>

<section class="order-user">

    {{!-- <form action="/order/new/{{user.id}}?_method=PUT" method='POST'> --}}
    <form action="/order/new/{{user.id}}" method='POST'>
        {{!-- <input type="hidden" name='_method' value='PUT'> --}}
        <section class="form-container">
        <hr>
        <label for="product">Product </label>
        <input type="text"  name='product' id='product' value={{order.product}} required> 

        <label for="price">Price </label>
        <input type="text"  name='price'id='price' value={{order.price}} required> 

        <label for="type">Type</label>
        <select name='type' id='type'> 
            <option name='plaque' value="Plaque">Plaque</option>
            <option name='sweater' value="Sweater">Sweater</option>
            <option name='tshirt' value="Tshirt">T-Shirt</option>
            <option name='trophy' value="Trophy">Trophy</option>
        </select>
        
        <label for="job">Job </label>
        <select name="job" id="job">
            <option value="printing" >Print</option>
            <option value="engraving">Engraving</option>
        </select>

        <label for="msg" id='msg'>Message</label>
         <textarea name='msg' cols="50" placeholder="Craft your message...">
        </textarea>

        <button type='submit' id='save-btn'>Order</button>
    
        </section>
    </form>
</section>
  